 /* === INFORMATIONS PRATIQUES === */
        .info-header {
            margin-top: 130px;
            margin-bottom: 60px;
            text-align: center;
        }

        .info-header h2 {
            font-size: 72px;
            letter-spacing: -1px;
            color: #000000;
            line-height: 1.2;
        }

        .info-text {
            display: inline-block;
            padding-right: 110px;
        }

        .pratiques-text {
            display: inline-block;
            padding-left: 100px;
        }

        .info-section {
            display: grid;
            grid-template-columns: 1fr 1fr;
            margin: 40px;
            gap: 0;
        }

        .info-left {
            padding: 60px;
            background-color: var(--color-05);
        }

        .info-item {
            margin-bottom: 30px;
        }

        .info-item h4 {
            font-size: 30px;
            font-weight: 700;
            margin-bottom: 10px;
            font-family: 'Inria Sans', sans-serif;
        }

        .info-item p {
            font-size: 20px;
            line-height: 1.6;
            color: #555;
            font-family: 'Inria Serif', serif;
            font-weight: 400;
        }

        .info-right {
            background-color: #FF4F33;
            padding: 60px;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            overflow: visible;
        }

        .map-container {
            width: 100%;
            max-width: 450px;
            height: 450px;
            background: var(--color-01);
            transform: translateX(-180px) translateY(-10px);
        }