/* === PROGRAMME SECTION === */
.programme-section {
    margin: 40px;
}

.programme-header {
    background-color:var(--color-05);
    padding: 20px 40px;
    margin-bottom: 20px;
    margin-top: 150px;
    text-align: center;
}

.programme-header h2 {
    font-size: 72px;
    color:var(--color-06);
    letter-spacing: 1px;
    transform: rotate(-5deg);
    display: inline-block;
}

.programme-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0;
    border-top: 15px solid var( --color-03);
}

.programme-item {
    padding: 30px;
    border-bottom: 15px solid var( --color-03);
    min-height: 200px;
}

.date {
    font-size: 80px;
    font-weight: 700;
    margin-bottom: 5px;
    font-family: 'Inria Sans', sans-serif;
    font-style: italic;
    display: inline-block;
    margin-right: 15px;
    color:var(--color-06);
}

.month {
    font-size: 22px;
    text-transform: uppercase;
    color:var(--color-06);
    margin-bottom: 20px;
    font-family: 'Inria Sans', sans-serif;
    font-weight: 700;
    display: inline-block;
}

.event-type {
    font-size: 22px;
    text-transform: uppercase;
    color:var(--color-06);
    font-family: 'Inria Sans', sans-serif;
    font-weight: 400;
    margin-bottom: 5px;
}

.event-title {
    font-size: 26px;
    line-height: 1.4;
    color:var(--color-06);
    font-family: 'Inria Serif', serif;
    font-weight: 600;
}